
/* Settings */

.nav-tabs {
	float: left;
	width: 100%;
	margin: 0;
	list-style-type: none;
	border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.5;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	float:left; 
	text-decoration: none;
}

.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
}

.tab-content .tab-pane {
	float: left;
	width: 100%;
	display: none;
}

.tab-content > .tab-pane.active {
	display: block;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 5px 4px -2px rgba(0,0,0,0.15);
}

/* Questions */

.tt-questions {
	display: flex;
	width: 100%;
	flex-direction: column;
	grid-gap: 5px;
}

.tt-questions details {
	background-color: #303030;
	color: #fff;
	font-size: 1.5rem;
}

.tt-questions summary {
	list-style: none;
	display: flex;
	flex-direction:column;
	justify-content: space-between;  
	transition: height 1s ease;
}

.tt-questions summary::-webkit-details-marker {
	display: none;
}

.tt-questions .tt-title {
	position: relative;
	margin: .5em 1.3rem;
}


.tt-questions .corner {
	position: absolute;
    right: 10px;
    top: 0;
    height: 0;
    width: 0;
}
.tt-questions summary .corner:after {
	content: "\002B";
}

.tt-questions .tt-lead {
	border-top: 1px solid #aaa;
	padding: 0.5em 1em;
}

.tt-questions .tt-lead p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tt-questions details[open] .tt-lead {
	display:none;
}
.tt-questions details[open] summary {
	border-bottom: 1px solid #aaa;
	/* margin-bottom: .5em; */
}

.tt-questions details[open] summary .corner:after {
	content: "\00D7";
}

.tt-questions details[open] .tt-content {
	padding: .5em 1em;
}

.tt-question {
}

.tt-title {
	
}

.tt-lead {
	
}

/* Question Box */

#tt-new-question {
	display: none;
}

#tt-new-question.active {
	display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

#tt-new-question #titlediv #title {
    font-size: 1em;
    background-color: unset;
    margin-bottom: 10px;
    padding: 0;
}
